@import './base.pcss';

table{
  margin:6px;
  caption {
    font-size:26px;
  }
  thead{
    border-bottom: 1px solid var(--color-neutral-lt);
    th{
      font-size:16px;
      padding:6px;
    }
  }
  tbody{
    td{
      padding:6px;
    }
  }
  th,td{
    border:1px solid var(--color-neutral-lt)
  }
}

